/* ENHANCED VIEW DESKTOP */

/*HEADING TITLES*/
h1{
	font-size: 20px;
	margin-left: 55px;
	padding-top: 17px;
}

/*HEADER*/
div#main-header header{
	background: #788880 url("../images/bohemestudio_header.png") no-repeat scroll center bottom;
	height: 60px;
	padding: 10px 0px 0px 0px;
	width: 1000px;
	margin: 0 auto;
	text-align: left;
	box-shadow: none;
}

	div#main-header header h1 a{
		-moz-transition: all 0.2s ease-in-out 0s;
	}

	div#main-header header h1 a:hover {
	    -moz-transform: scale(1.01);
	}

	div#main-header header h1 a img{
		height: auto;
	}

/*MAIN NAVIGATION*/
div#main-navigation{
	background-color: #324654;
	height: 40px;
	top: 70px;
	text-align: right;
	display: block;
}

	div#main-navigation nav{
		width: 1000px;
		margin: 0 auto;
	}

	div#main-navigation nav ul{
		float: right;
		padding-top: 10px;
	}

	div#main-navigation nav ul li{
		float: left;
	}

	div#main-navigation nav ul li a,
	div#main-navigation nav ul li a:visited{
		float: left;
		padding: 10px;
		color: #788880;
		font-weight: bold;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}

	div#main-navigation nav ul li a:hover,
	div#main-navigation nav ul li a.active{
		background-color: #788880;
		color: #324654;
		-webkit-transition: all 0.2s ease-in;
		-moz-transition: all 0.2s ease-in;
		-o-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}

/* Fixed navigation only available in MOBILE */
div#mobile-navigation{
	display: none;
}

/*MAIN SEPARATOR*/
div#main-separator{
	top: 110px;
	background-color: #788880;
	height: 10px;
	display: block;
}

/*BOHEME STUDIO CONTENT*/
div#bohemestudio-content{
	min-height: 400px;
	position: relative;
	top: 120px;
	overflow: hidden;
	padding: 0 10px 140px 10px;
	margin: 0 auto;
	width: 1000px;
	border: none;
}


	/*CONTENT*/
	div#content{
		width: 880px;
		margin-left: 120px;
	}

	/*home*/
	ul#photos{
		height: 350px;
	}

		ul#photos li{
			float: left;
   			position: absolute;
   			width: 880px;
		}

		div#rotator ul li.show {
		    z-index: 100;
		}

		div#rotator:hover ul li a img:hover{
			box-shadow: 0px 0px 5px #000000;
			-webkit-transition: all 0.1s ease-in;
			-moz-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
		}

		ul#photos li a{
			float: left;
			width: 870px;
			height: 340px;
			padding: 5px;
			overflow: hidden;
			-webkit-transition: all 0.3s ease-in;
			-moz-transition: all 0.3s ease-in;
			-o-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;
		}

		ul#photos li:hover{

		}

		ul#photos li a:hover,
		section#latest-additions ul li a img:hover{
			opacity: 0.7;
			-webkit-transition: all 0.3s ease-in;
			-moz-transition: all 0.3s ease-in;
			-o-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;
		}

		ul#photos li a img{
			min-height: 340px;
			-webkit-transition: all 0.3s ease-in;
			-moz-transition: all 0.3s ease-in;
			-o-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;
		}

		ul#photos li a img:hover{
			min-height: 340px;
			box-shadow: 0px 0px 5px #000000;
			-webkit-transition: all 0.1s ease-in;
			-moz-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
		}

	/* Latest additions */
	section#latest-additions{
		border: none;
		margin-top: 0px;
		padding: 10px 0px 0px 0px;
	}

	section#latest-additions header h3{
		display: none;
	}

	section#latest-additions ul li{
		float: left;
		margin: 10px;
		width: auto;
	}

	section#latest-additions ul li a img{
		width: 200px;
		height: 100px;
		display: block;
		-webkit-transition: all 0.3s ease-in;
		-moz-transition: all 0.3s ease-in;
		-o-transition: all 0.3s ease-in;
		transition: all 0.3s ease-in;
	}

	section#latest-additions ul li a img:hover{
		box-shadow: 0px 0px 5px #000000;
		-webkit-transition: all 0.1s ease-in;
		-moz-transition: all 0.1s ease-in;
		-o-transition: all 0.1s ease-in;
		transition: all 0.1s ease-in;
	}

	/*see-all*/
	section.see-all ul li,
	section.see-all ul li a,
	section.see-all ul li a img{
		width: 80px;
		height: 80px;
		-webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
		-o-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
	}

	section.see-all ul li{
		margin: 4px;
	}

	/*page - photo*/
	section#page h2.page-title,
	section.archive-category h3,
	section.about header h3,
	section#category-photos header h3{
		display: block;
		border-bottom: 1px dotted #324654;
		padding-bottom: 10px;
		margin-bottom: 20px;
		font-weight: normal;
	}

	article#main-photo{
		width: 880px;
	}

		article#main-photo img{
			width: 880px;
		}

		div.photo-content nav {
			display: block;
		}

		div.photo-content nav div.nav-photo-left a,
		div.photo-content nav div.nav-photo-right a {
			height: 100%;
			width: 49%;
			position: absolute;
			z-index: 100;
			top: 10px;
		}
		div.photo-content nav div.nav-photo-left a{
			background: url("../images/navigation_left.png") no-repeat left 50% scroll transparent;
			left: 10px;
		}
		div.photo-content nav div.nav-photo-left a:hover{
			background: url("../images/navigation_left_h.png") no-repeat left 50% scroll transparent;
		}
		div.photo-content nav div.nav-photo-right a{
			background: url("../images/navigation_right.png") no-repeat right 50% scroll transparent;
			right: 10px;
		}
		div.photo-content nav div.nav-photo-right a:hover{
			background: url("../images/navigation_right_h.png") no-repeat right 50% scroll transparent;
		}



	/*GALLERY NAVIGATION*/
	div#gallery-navigation{
		position: fixed;
		display: block;
		z-index: 10;
		width: 108px;
		margin-right: 9px;
		border: 1px dotted #324654;
		border-bottom: none;
		text-align: center;
		top: 125px;
		background-color: #788880;
		-webkit-transition: box-shadow 0.5s ease-in;
		-moz-transition: box-shadow 0.5s ease-in;
		-o-transition: box-shadow 0.5s ease-in;
		transition: box-shadow 0.5s ease-in;
	}

	div#gallery-navigation:hover{
		box-shadow: 0px 0px 10px #5A6660;
		-webkit-transition: box-shadow 0.1s ease-in;
		-moz-transition: box-shadow 0.1s ease-in;
		-o-transition: box-shadow 0.1s ease-in;
		transition: box-shadow 0.1s ease-in;
	}

		div#gallery-navigation nav header h2{
			background: #324654 url("../images/bohemestudio_gallery_icon_sprite.png") no-repeat scroll 0px 0px;
			float: left;
			width: 108px;
			height: 50px;
			border-bottom: 1px dotted #d9561c;
			position: relative;
		}

			/*GALLERY NAVIGATION ICONS*/
			div#gallery-navigation #category-icon{
				height: 50px;
				width: 108px;
				display: none;
				position: absolute;
				top: 0px;
				left: 0px;
				background: transparent url("../images/bohemestudio_gallery_icon_sprite.png") no-repeat scroll 0px 0px;
			}

				div#gallery-navigation .abstract-gallery{ background-position: 0px -50px !important; }
				div#gallery-navigation .architecture-gallery{ background-position: 0px -100px !important; }
				div#gallery-navigation .arts-gallery{ background-position: 0px -150px !important;}
				div#gallery-navigation .bw-gallery{ background-position: 0px -200px !important;}
				div#gallery-navigation .landscape-gallery{ background-position: 0px -250px !important; }
				div#gallery-navigation .miscellaneous-gallery{ background-position: 0px -300px !important;}
				div#gallery-navigation .music-gallery{ background-position: 0px -350px !important; }
				div#gallery-navigation .natural-gallery{ background-position: 0px -400px !important; }
				div#gallery-navigation .portrait-gallery{ background-position: 0px -450px !important; }
				div#gallery-navigation .silhouette-gallery{ background-position: 0px -500px !important; }
				div#gallery-navigation .skyline-gallery{ background-position: 0px -550px !important;}
				div#gallery-navigation .urban-gallery{ background-position: 0px -600px !important;}


		div#gallery-navigation nav ul li a,
		div#gallery-navigation nav ul li a:visited{
			/*text-shadow: 3px 3px 3px #333333;*/
			float: left;
			width: 108px;
			padding: 5px 0px 5px 0px;
			border-bottom: 1px dotted #324654;
			color: #fff;
			-webkit-transition: all 0.3s ease-in;
			-moz-transition: all 0.3s ease-in;
			-o-transition: all 0.3s ease-in;
			transition: all 0.3s ease-in;
		}

		div#gallery-navigation nav ul li a:hover,
		div#gallery-navigation nav ul li.current-cat a{
			color: #d9561c;
			background-color: #324654;
			text-shadow: none;
			-webkit-transition: all 0.1s ease-in;
			-moz-transition: all 0.1s ease-in;
			-o-transition: all 0.1s ease-in;
			transition: all 0.1s ease-in;
		}

	/*page - video*/
	nav#video-navigation{
		width: 120px;
		float: left;
	}

		nav#video-navigation ul li{
			width: 100px;
			height: 100px;
			padding: 10px;
		}

		nav#video-navigation ul li.video-active{
			background-color: #324654;
		}

		nav#video-navigation ul li a{
			width: 100px;
			height: 100px;
			float: left;
			background: transparent url("../images/bohemestudio_video.png") no-repeat 0px 0px;
			-webkit-transition: box-shadow 0.5s ease-in;
			-moz-transition: box-shadow 0.5s ease-in;
			-o-transition: box-shadow 0.5s ease-in;
			transition: box-shadow 0.5s ease-in;
		}

		nav#video-navigation ul li a:hover,
		nav#video-navigation ul li.video-active a{
			box-shadow: 0px 0px 10px #000;
			-webkit-transition: box-shadow 0.2s ease-in;
			-moz-transition: box-shadow 0.2s ease-in;
			-o-transition: box-shadow 0.2s ease-in;
			transition: box-shadow 0.2s ease-in;
		}

		nav#video-navigation ul li a.eva-comic:hover,
		nav#video-navigation ul li.video-active a.eva-comic{
			background-position: 0px -100px;
		}

		nav#video-navigation ul li a.bienvenido-final{
			background-position: -100px 0px;
		}

		nav#video-navigation ul li a.bienvenido-final:hover,
		nav#video-navigation ul li.video-active a.bienvenido-final{
			background-position: -100px -100px;
		}

		nav#video-navigation ul li a.alta-fidelidad{
			background-position: -200px 0px;
		}

		nav#video-navigation ul li a.alta-fidelidad:hover,
		nav#video-navigation ul li.video-active a.alta-fidelidad{
			background-position: -200px -100px;
		}

		nav#video-navigation ul li a span{
			display: none;
		}

		section.video article{
			width: 720px;
			float: right;
			background-color: #324654;
			padding: 20px;
			display: none;
		}

		section.video article.eva-comic-content{
			/*default video displayed*/
			display: block;
		}

		section.video article p{
			margin-top: 20px;
			color: #fff;
		}

	/*page - about*/

		section#about-content article{
			float: left;
			width: 270px;
			font-size: 12px;
			margin: 0px;
		}

		section#about-content{
			margin: 20px 0px;
		}

		section#about-content article#about-mobile{
			display: none;
		}

		section#about-content article header h3{
			font-weight: bold;
		}

		section#about-content article p{
			margin-bottom: 10px;
			line-height: 14px;
		}

		section#about-content article#about-central{
			margin: 0px 35px;
		}


	/*FOLLOW*/
	section#follow{
		margin: 20px 0px 0px 120px;
		border-top: 1px dotted #324654;
		width: 880px;
	}

		section#follow aside{
			float: right;
			margin: 11px 10px 10px 10px;
		}

		section#follow nav ul#follow-links{
			margin: 10px 0px 0px 0px;
		}

			section#follow nav ul#follow-links li{
				float:left;
				width: auto;
				max-width: none;
				margin: 0;
				background: none;
			}

			section#follow nav ul#follow-links li a,
			section#follow nav ul#follow-links li a:visited{
				text-indent: 0px;
				font-size: 10px;
				padding: 80px 0px 10px 0px;
				text-align: center;
				float:left;
				margin: 10px;
				width: 200px;
				margin: 10px;
				color: #fff;
				background: #324654 url("../images/bohemestudio_follow_sprite.png") no-repeat 0px 0px;
				-webkit-transition: box-shadow 0.5s ease-in;
				-moz-transition: box-shadow 0.5s ease-in;
				-o-transition: box-shadow 0.5s ease-in;
				transition: box-shadow 0.5s ease-in;
			}

			section#follow nav ul#follow-links li a:hover{
				box-shadow: 0px 0px 10px #000;
				background-color: #D9561C;
				-webkit-transition: box-shadow 0.1s ease-in;
				-moz-transition: box-shadow 0.1s ease-in;
				-o-transition: box-shadow 0.1s ease-in;
				transition: box-shadow 0.1s ease-in;
			}

			section#follow nav ul#follow-links li a.follow-instagram{ background-position: 0px 0px; }
			section#follow nav ul#follow-links li a.follow-instagram:hover{ background-position: 0px -100px; }

			section#follow nav ul#follow-links li a.follow-facebook{ background-position: -200px 0px; }
			section#follow nav ul#follow-links li a.follow-facebook:hover{ background-position: -200px -100px; }

			section#follow nav ul#follow-links li a.follow-twitter{ background-position: -400px 0px; }
			section#follow nav ul#follow-links li a.follow-twitter:hover{ background-position: -400px -100px; }

			section#follow nav ul#follow-links li a.follow-mail{ background-position: -600px 0px; }
			section#follow nav ul#follow-links li a.follow-mail:hover{ background-position: -600px -100px; }

	/* SHARE THIS */
	#share-button{
		display: block;
		position: fixed;
		top: 125px;
		right: -1px;
		width: 50px;
		height: 50px;
		background: #D8561C url('../images/bohemestudio_share-this_sprite.png') no-repeat 0px 0px;
		border: 1px dotted #324654;
		border-right: 0;
		z-index: 200;
		text-indent: -99999px;
		cursor: pointer;
	}

	#share-button:hover{
		box-shadow: 0px 0px 10px #000;
		background-position: 0px -50px;
	}


	/* SOCIAL BAR */
	div.fb-like-box{
		background-color: #fff;
		z-index: 10;
		float: left;
	}

	div#twtr-widget-1{
		z-index: 9;
		float: right;
		background: #D9561C;
		border-top: 1px solid #D9561C;
		border-bottom: 1px solid #D9561C;
	}

	/* Social bar */
	section#social-bar {
		position: fixed;
		display: block;
		top: 240px;
		right: -600px;
		width: 600px;
		background: #D9561C;
		z-index: 200;
	}

	section#social-bar:hover{
		box-shadow: 3px 3px 3px #000;
	}

	section#social-bar div#social-bar-button header h4{
		font-family: 'century gothic';
		margin: 20px 0px 0px 60px;
		color: #D9561C;
		font-weight: normal;
	}

	section#social-bar div#social-bar-button:hover header h4{
		color: #324654;
	}

	div#social-bar-button {
		background: #D9561C url(../images/bohemestudio_socialbar.png) no-repeat top left;
		position: absolute;
		top: -50px;
		z-index: 10;
		left: -50px;
		width: 650px;
		height: 50px;
		border: none;
		cursor: pointer;
		border: 1px dotted #324654;
	}

	div#social-bar-button:hover{
		box-shadow: 0px 0px 10px #000;
		background-position: 0px -50px !important;
	}

	div#social-bar-content div#twitter-box iframe{
		width: 250px;
	}

/*FOOTER*/
footer{
	background-color: #324654;
	margin-top: 100px;
}

	footer div#footer-separator,
	footer section#footer-content{
		min-height: 100px;
		margin: 0 auto;
	}

	div#footer-separator{
		background: #788880 url("../images/bohemestudio_footer.png") no-repeat top center;
	}

	section#footer-content{
		width: 1000px;
		text-align: right;
		color: #788880;
		font-size: 10px;
	}

	section#footer-content ul#footer-links{
		display: block;
	}

	section#footer-content ul li{
		float: right;
		margin: 20px 2px;
		font-weight: bold;
	}

	section#footer-content a,
	section#footer-content a:visited{
		color: #788880;
	}

	section#footer-content a:hover{
		text-decoration: underline;
	}

	section#footer-content p{
		font-size: 12px;
		color: /*pon el rosita*/ #ccc;
	}

	section#footer-content aside{
		margin: 0px;
	}



